@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<a asp-area="" asp-controller="Home" asp-action="Horaire" asp-route-id="">Horaire</a>
<br />
<a asp-controller="ProgrammeurWeb" asp-action="index">Cours du programme</a>
<br />
<a asp-controller="ProgrammeurWeb" asp-action="H24">Cours de cette session</a>
<br />
<a asp-controller="ProgrammeurWeb" asp-action="A23">Cours de session passée</a>
<br />
<a asp-controller="ProgrammeurWeb" asp-action="A21">Cours de la session 1</a>
<br />
<a asp-controller="ProgrammeurWeb" asp-action="H24" asp-route-id="4P7">ASP</a>
<br />
<a asp-controller="ProgrammeurWeb" asp-action="H24" asp-route-id="4P6">PHP</a>


